html, body {
  height: 100%;
  background-color: #111;
}

#camera {
  position: absolute;
  top: 30px;
  width: 400px;
  height: 400px;
}

#cam-dropdown {
  position: absolute;
  top: 50px;
  width: 200px;
  z-index: 99;
}
